.title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    text-align: ;
    ;
    
}

.main-title {
    background-color: skyblue;
    height: 100px;
    width: auto;
    ;
}